// variable overrides
// .nav-pills .nav-link {
//   background-color: rgba(255, 0, 0, 0.2);
//   color: white;
// }
$enable-responsive-font-sizes: true;
$table-active-bg: #7ea840;
$body-bg: #adb5bd;
$body-color: #111;
@import "node_modules/bootstrap/scss/bootstrap";
