/* html {
  background-color: gray;
} */

body {
  margin: 0;
  /* background-color: blue !important; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mileContainer {
  border: solid 2px #7246d8;
  background-color: #7246d8;
  width: 100%;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}

input {
  margin: 4px;
}

.mileContainer form {
  width: 100%;
}

.timeline-date {
  color: white;
}

.projects {
  border: 2px solid gray;
  border-radius: 20px;
  padding-top: 10px;
}

.milestones {
  border: 2px solid gray;
  border-radius: 20px;
  padding-top: 10px;
  background: gray;
}

.Link {
  color: red;
}

/* 
.vertical-timeline-element-content {
  border-bottom: 3px solid #2196f3;
} */
